<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesManagerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SalesManagerApp.Properties.Settings>
            <setting name="NoticeCount_Must" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\\SalesManagerApp\Backup</value>
            </setting>
            <setting name="NoticeCount_Low" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DbConnectionString" serializeAs="String">
                <value>Data Source=DB/SalesManagerDB.db</value>
            </setting>
        </SalesManagerApp.Properties.Settings>
    </userSettings>
</configuration>